{% extends "layout.html" %}

{% block title %} {{title}} {% endblock %}

{% block content %}
    <h1>{{content}}</h1>
    <ul>
        <li><a href="/">Index</a></li>
        <li><a href="/profile">Profile</a></li>
    </ul>
{% endblock %}